<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>JeoParty</title>
</head>

<body class="game-page">
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">JeoParty!</h1>
    <p class="lead"></p>
  </div>
</div>
    <div class="Nav-Bar">
        {{!-- <!--Fix Links --> --}}
        <ul class="navlinks">
            <li><a class="Nav_Links" href="#Home">Home</a></li>
            <li><a class="Nav_Links" href="#highScores">High Scores</a></li>
            <li><a class="Nav_Links" href="#id">Current Game ID</a></li>
            {{#if loggedIn}}
            <li><a class="Nav_Links" id="logout">Logout</a></li>
            {{else}}
            <li><a class="Nav_Links" href="/login">Log In</a></li>
            {{/if}}
            <li><a class="Nav_Links" href="#user">Current User</a></li>
        </ul>
    </div>
    <main>
        {{{body}}}
    </main>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>