


<div class="container d-flex align-items-center">
        <div class="container game-board">
            <div class="row flex-nowrap">
                <div class="col">
                    <div class="card custom-card-size" id="cat1">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-category card-title align-items-center d-flex justify-content-center">Category 1</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size" id="cat2">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-category card-title align-items-center d-flex justify-content-center">Category 2</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size" id="cat3">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-category card-title align-items-center d-flex justify-content-center">Category 3</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size" id="cat4">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-category card-title align-items-center d-flex justify-content-center">Category 4</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size" id="cat5">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-category card-title align-items-center d-flex justify-content-center">Category 5</h5>
                        </div>
                    </div>
                </div>

            </div>
            <!-- make a for loop inside a for loop to render the game board -->
            <div class="row flex-nowrap mt-2">
                <div class="col">
                    <div class="card custom-card-size question-card" id="r1c1">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$200</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card" id="r1c2">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$200</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card" id="r1c3">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$200</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card" id="r1c4">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$200</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card" id="r1c5">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$200</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-nowrap mt-2">
                <div class="col">
                    <div class="card custom-card-size question-card" id="r2c1">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$400</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card" id="r2c2">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$400</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card" id="r2c3">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$400</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card" id="r2c4">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$400</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card" id="r2c5">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$400</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-nowrap mt-2">
                <div class="col">
                    <div class="card custom-card-size question-card" id="r3c1">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$600</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card" id="r3c2">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$600</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card" id="r3c3">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$600</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card" id="r3c4">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$600</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card" id="r3c5">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$600</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-nowrap mt-2">
                <div class="col">
                    <div class="card custom-card-size question-card" id="r4c1">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$800</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card" id="r4c2">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$800</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card" id="r4c3">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$800</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card" id="r4c4">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$800</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card" id="r4c5">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$800</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <div class="interactive-column col-4">
            <!-- {{partial}} -->
            <div class="card side-card" style="width: 20rem;" id="side-card-top">
                <div class="card-body ">
                    {{!-- <h5 class="card-title">Current Players and Scores:</h5> --}}
                    <!-- List of current players and scores -->
                    <div class="row">
                        <div class="col-4"><p id="p1name">Player 1:</p></div>
                        <div class="col-8"><p id="p1score">Score 1</p></div>
                    </div>
                    <div class="row">
                        <div class="col-4"><p id="p2name">Player 2:</p></div>
                        <div class="col-8"><p id="p2score">Score 2</p></div>
                    </div>
                    <p>Time Left to Start Your Turn: <span>XX</span> min</p>
                </div>
            </div>
            <div class="card side-card" style="width: 20rem;" id="side-card-bottom">
                <div class="card-body ">
                    <h5 class="card-title ">It's Your Turn! </h5>
                    <p>Time Left: <span>NUM</span> sec</p>
                    <button type="button" class="btn btn-primary" id="buzz-button">BUZZER</button>
                    <p class="card-text">This is the question text, it will ask the player a question. Like what is your favorite food? </p>
                </div>
                <div class="side-card-footer">
                    <input type="text" id="answerText" value="">
                    <button  type="button" class="btn btn-primary">Submit Answer</button>
                </div>
            </div>
        </div>
    </div>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/game.js"></script>