


<div class="container d-flex align-items-center">
        <div class="container game-board">
            <div class="row flex-nowrap">
                <div class="col">
                    <div class="card custom-card-size category-card" id="cat1">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-category card-title align-items-center d-flex justify-content-center">Category 1</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size category-card" id="cat2">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-category card-title align-items-center d-flex justify-content-center">Category 2</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size category-card" id="cat3">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-category card-title align-items-center d-flex justify-content-center">Category 3</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size category-card" id="cat4">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-category card-title align-items-center d-flex justify-content-center">Category 4</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size category-card" id="cat5">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-category card-title align-items-center d-flex justify-content-center">Category 5</h5>
                        </div>
                    </div>
                </div>

            </div>
            <!-- make a for loop inside a for loop to render the game board -->
            <div class="row flex-nowrap mt-2">
                <div class="col">
                    <div class="card custom-card-size question-card">
                        <div class="card-body d-flex justify-content-center" id="q0">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$200</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card">
                        <div class="card-body d-flex justify-content-center" id="q4">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$200</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card">
                        <div class="card-body d-flex justify-content-center" id="q8">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$200</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card">
                        <div class="card-body d-flex justify-content-center" id="q12">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$200</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card">
                        <div class="card-body d-flex justify-content-center" id="q16">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$200</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-nowrap mt-2">
                <div class="col">
                    <div class="card custom-card-size question-card">
                        <div class="card-body d-flex justify-content-center" id="q1">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$400</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card">
                        <div class="card-body d-flex justify-content-center" id="q5">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$400</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card">
                        <div class="card-body d-flex justify-content-center" id="q9">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$400</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card">
                        <div class="card-body d-flex justify-content-center" id="q13">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$400</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card">
                        <div class="card-body d-flex justify-content-center" id="q17">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$400</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-nowrap mt-2">
                <div class="col">
                    <div class="card custom-card-size question-card">
                        <div class="card-body d-flex justify-content-center" id="q2">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$600</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card">
                        <div class="card-body d-flex justify-content-center" id="q6">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$600</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card">
                        <div class="card-body d-flex justify-content-center" id="q10">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$600</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card">
                        <div class="card-body d-flex justify-content-center" id="q14">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$600</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card">
                        <div class="card-body d-flex justify-content-center" id="q18">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$600</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-nowrap mt-2">
                <div class="col">
                    <div class="card custom-card-size question-card">
                        <div class="card-body d-flex justify-content-center" id="q3">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$800</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card">
                        <div class="card-body d-flex justify-content-center" id="q7">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$800</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card">
                        <div class="card-body d-flex justify-content-center" id="q11">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$800</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card">
                        <div class="card-body d-flex justify-content-center" id="q15">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$800</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-card-size question-card">
                        <div class="card-body d-flex justify-content-center" id="q19">
                            <h5 class="card-title align-items-center d-flex justify-content-center">$800</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <div class="interactive-column col-4">
            <!-- {{partial}} -->
            <div class="card side-card" style="width: 20rem;" id="side-card-top">
                <div class="card-body ">
                    <h5 class="card-title side-title">Scores:</h5>
                    <!-- List of current players and scores -->
                    <div class="row">
                        <div class="col-4"><p id="p1name">Player 1:</p></div>
                        <div class="col-8"><p id="p1score">Score 1</p></div>
                    </div>
                    <div class="row">
                        <div class="col-4"><p id="p2name">Player 2:</p></div>
                        <div class="col-8"><p id="p2score">Score 2</p></div>
                    </div>
                    {{!-- <p>Time Left to Start Your Turn: <span>XX</span> min</p> --}}
                </div>
            </div>
            <div class="card side-card" style="width: 20rem;" id="side-card-bottom">
                <div class="card-body ">
                    {{!-- <p>Time Left: <span>NUM</span> sec</p> --}}
                    <p class="card-text" id="question-text">This is the question text, it will ask the player a question. Like what is your favorite food? </p>
                </div>
                <div class="side-card-footer">
                    <input type="text" id="answerText" value="">
                    <button  type="button" class="btn btn-primary" id="submit-button">Submit Answer</button>
                </div>
            </div>
        </div>
    </div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/game.js"></script>