<div class="high-scores-tables">
<table class="table table-striped">
  <thead>
    <th class="main-highscores">Ultimate High-Scores</th>
    <tr>
      
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">High-scores</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>000</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>000</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>000</td>
    </tr>
  </tbody>
</table>


<!--Personal HighScores-->


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Scores</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>000</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mark</td>
      <td>000</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mark</td>
      <td>000</td>
    </tr>
  </tbody>
</table>
</div>


{{#if loggedIn}}
  <div>
  <a href="/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Login</a>
  </div>
{{else}}
  <div>
  {{!-- <a href="/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Login</a> --}}
  </div>
  {{/if}}
</div>
</div>