<div class="container newGameContainer">
    <h3>Enter Game ID: </h3>
    <input type="text" id="gameId" value=""><button type="button" class="btn btn-primary btn-sm" id="joinGame">GO!</button> </br>
    <div class="container mt-3">
        <button type="button" class="btn btn-primary" id="createGame">Create New Game</button>
        <!-- Future Improvement: Add number of players, and options for filtering categories -->
    </div>
</div>
<script src="/js/home.js"></script>