<div class="Nav-Bar">
        <!--Fix Links -->
                <ul class="navlinks">
					<li><a class="Nav_Links" href="#Jeoparty">JeoParty</a></li>
					<li><a class="Nav_Links" href="#Home">Home</a></li>
					<li><a class="Nav_Links" href="#highScores">High Scores</a></li>
                    <li><a class="Nav_Links" href="#id">Current Game ID:</a></li>
                    <li><a class="Nav_Links" href="#login/logout">Log In</a></li>
                    <li><a class="Nav_Links" href="#user">Current User</a></li>
				</ul>
		</div>