<div class="container">
    <h3>Enter Game ID: </h3>
    <input type="text" id="gameId" value=""> </br>
    <div class="container mt-3">
        <p>Time between turns: </p> <input type="text" id="longTime"> </br>
        <p>Time per turn: </p> <input type="text" id="turnTime"> </br></br>
        <button type="button" class="btn btn-primary">Create New Game</button>
        <!-- Future Improvement: Add number of players, and options for filtering categories -->
    </div>
</div>

<script src="/js/home.js"></script>