<div class="row d-flex justify-content-center">
<div class="col-lg-4 loginForm">
<form id="userLogin">
  <!-- Username input -->
  <div class="form-outline mb-4">
    <input id="username" class="form-control" placeholder="Username" />
    {{!-- <label class="form-label" for="username">Username</label> --}}
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="password" class="form-control" placeholder="Password" />
    {{!-- <label class="form-label" for="password">Password</label> --}}
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

  <!-- Sign Up buttons -->
  <div class="text-center">
    <p>Not a member? <a href="/signup">Register</a></p>

  </div>
</form>
</div>
</div>

<script src="/js/login.js"></script>