<div class="row d-flex justify-content-center">
  <div class="col-lg-8">
    <h2 class="fw-bold mb-5">Sign up!</h2>
    <form id="signUpForm">

      <!-- Email input -->
      <div class="form-outline mb-4">
        <input id="username" class="form-control" />
        <label class="form-label" for="username">Username</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="password" class="form-control" />
        <label class="form-label" for="password">Password</label>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>